/node_modules
/public/hot
/public/storage
/storage/logs/laravel.log
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
store.zip
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.idea
/.vscode
sftp-config.json
.DS_Store
**/.DS_Store
