.account-page {
    &__form {
        border-radius: 0;
    }
}

.tab-content{
    overflow: hidden;
    border-radius: 0 15px 15px 15px;
    color: white !important;
}

.login-links {
    display: flex;
    column-gap: 10px;

    a {
        color: #fff;
        text-decoration: none;
        @include base-transition(color);

        &:hover {
            color: $main;
        }
    }
}
