.news-show-page {
	&__content {

	}
	&__image {
		border-radius: 20px;
	}
	&__text {
		padding-left: 20px;
		color: $dark;
		p {
			font-size: 16px;
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
	@media screen and (max-width: 767px) {
		&__text {
			padding-top: 20px;
			padding-left: 0;
		}
	}	
}