.team-page {
	&__list {
		display: grid;
		grid-template-columns: repeat(5, 1fr);
		grid-column-gap: 0px;
		grid-row-gap: 40px;
		justify-items: center;
	}
	&__person {
		max-width: 200px;
	}
	
	@media screen and (max-width: 1199px) {
		&__list {
			grid-template-columns: repeat(4, 1fr);
		}
	}
	
	@media screen and (max-width: 991px) {
		
	}
	
	@media screen and (max-width: 767px) {
		&__list {
			grid-template-columns: repeat(3, 1fr);
		}
	}
	
	@media screen and (max-width: 575px) {
		&__list {
			grid-template-columns: repeat(2, 1fr);
		}
	}

	@media screen and (max-width: 575px) {
		&__list {
			grid-template-columns: repeat(2, 1fr);
			grid-row-gap: 30px;
		}
	}
}