.calc-result {
	color: $dark;
	padding-right: 20px;
	position: sticky;
    top: 15px;
	&__sum {
		margin-bottom: 20px;
		font-size: 16px;
		font-weight: 700;
		span {
			margin-left: 10px;
			color: $main;
		}
	}
	&__list {
		display: flex;
		flex-direction: column;
		row-gap: 10px;
	}
	&__item {
        display: flex;
        align-items: flex-start;
		padding: 7px 10px;
		background-color: #F6F5F5;
		font-size: 14px;
		color: $dark;
		border-radius: 10px;
        &-name {
            margin-right: auto;
        }
        &-price {
            min-width: 80px;
            padding: 0 10px;
            align-self: center;
            font-weight: 700;
        }
        &-remove {
            border: none;
            font-size: 22px;
            font-weight: 700;
            background-color: transparent;
            line-height: 1em;
            color: $dark;
            @include base-transition(color);
            &:hover {
                color: red;
            }
        }
	}


	@media screen and (max-width: 991px) {
		padding-right: 0;
		margin-bottom: 30px;
	}
}
