.carousel-btn {
	display: block;
	width: 45px;
	height: 45px;
	padding: 0;
	background-color: $main;
	border: none;
	background-image: url('../images/svg/arrow.svg');
	background-repeat: no-repeat;
	background-size: 25px;
	background-position: center;
	@include base-transition(background-color);
	&:hover {
		background-color: $dark;
	}
	&--prev {
		transform: rotate(180deg);
	}
}