.contact-form {
	padding: 40px 25px;
	border-radius: 20px;
	background-color: $secondary;
	
	&__title {
		font-size: 18px;
		margin-bottom: 20px;
		color: white;
	}
	&__label {
		color: white;
		font-weight: 700;
		font-size: 16px;
	}
	&__submit {
		padding: 7px 35px;
		font-size: 16px;
	}
	&__agrement {
		margin-top: 15px;
		font-size: 13px;
		color: $white;

		a {color: $white}
	}
}