.filter {
	margin-top: 30px;
	padding-left: 170px;
	&__wrapper {
		position: relative;
		padding: 30px;
		background-color: $dark;
		&::before {
			content: '';
			position: absolute;
			left: -70px;
			top: 0;
			width: 0;
			height: 0;
			border: 0 solid transparent;
			border-top-width: 0px;
			border-right: 70px solid $dark;
		}
	}
	&__input {
		width: 100%;
		padding: 10px 15px;
		border-radius: 10px;
		border: none;
		outline: none;
		background-color: $secondary;
		color: $white !important;

		&::placeholder
		{
			color: white;
		}
	}
	@media screen and (max-width: 575px) {
		padding-left: 0;
		&__wrapper {
			&::before {
				display: none;
			}
		}
	}
}
