.filter {
	margin-top: 30px;
	&__wrapper {
		position: relative;
		padding: 30px;
		background-color: $dark;
	}
	&__input {
		width: 100%;
		padding: 10px 15px;
		border-radius: 10px;
		border: none;
		outline: none;
		background-color: $secondary;
		color: $white !important;

		&::placeholder
		{
			color: white;
		}
	}
	@media screen and (max-width: 575px) {
		&__wrapper {
			&::before {
				display: none;
			}
		}
	}
}
