html,
body {
	background-color: rgb(192, 227, 247);
	height: 100%;
	font-size: 14px;
	font-weight: 400;
}

.container-fluid {
	padding: 0 20px!important;
	max-width: 1380px;
}

.bg-overlay {
	display: none;
	z-index: 9;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, .25);
	&.active {
		display: block;
	}
}

img {
    max-width: 100%;
    height: auto;
}

.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
}

.main {
	padding: 40px 0 80px 0;
	flex: 1 1 auto;
	position: relative;
}

.section-top-space {
	padding-top: 70px;
}

.section-title {
	margin-bottom: 40px;
	font-size: 50px;
	font-weight: 700;
	color: $dark;
	span {
		display: block;
	}
}

label.required {
	position: relative;
	&::after {
		content: '*';
		margin-left: 1px;
		font-size: 16px;
		color: red;
	}
}

textarea {
	resize: none!important;
}

.social-list {
    display: flex;
    align-items: center;
    column-gap: 8px;
    margin-bottom: 6px;
}

@media screen and (max-width: 1199px) {
	.section-title {
		margin-bottom: 30px;
	}
}

@media screen and (max-width: 991px) {
	.section-title {
		margin-bottom: 20px;
		font-size: 42px;
	}
}

@media screen and (max-width: 767px) {
	.section-title {
		font-size: 36px;
	}
	.section-top-space {
		padding-top: 40px;
	}
}

@media screen and (max-width: 575px) {
	.section-title {
		font-size: 28px;
	}

	.main {
		padding: 30px 0 40px 0;
	}
}

.account-page__form-wr
{
	position: relative;
}
.account-page__form-checkbox
{
	display: flex;
	align-items: center;
	position: absolute;
	top: 25px;
	right: 25px;
}

.account-page__form-checkbox-wr
{
	display: flex;
	align-items: center;
	justify-content: center;
	margin-right: 12px;
	margin-left: 12px;
}

.account-page__form-checkbox input[type=checkbox] {
	height: 0;
	width: 0;
	visibility: hidden;
}

.account-page__form-checkbox label {
	--size: 50px;

	cursor: pointer;
	width: 45px;
	height: 24px;
	background: #ffffff;
	display: block;
	border-radius: 100px;
	border: 1px solid #DFE3E6;
	position: relative;
}

.account-page__form-checkbox label:after {
	content: '';
	position: absolute;
	top: -6%;
	left: -3.5%;
	width: 24px;
	height: 24px;
	background: #3C515C;
	border-radius: 90px;
	transition: 0.3s;
}

.account-page__form-checkbox input:checked + label:after {
	left: calc(100% - -3.5%);
	transform: translateX(-100%);
}

.account-page__form-checkbox label:active:after {
	width: 55%;
}
.auth-hidden
{
	display: none;
}

.account-page__form-auth-code .auth-password
{
	display: none;
}

.account-page__form-auth-password .auth-code
{
	display: none;
}
.account-page__form-auth-password .auth-password {display: block;}

.employee-page__submitted.show
{
	z-index: 1;
	opacity: 1;
	transform: scale(1);
}

.employee-page__submitted
{
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	width: 100%;
	max-width: 700px;
	height: 100%;
	justify-content: center;
	align-items: center;
	border-radius: 20px;
	background: #FAFBF1;
	opacity: 0;
	transition: all 0.2s ease-in-out; 
	transform: scale(0.8);
	z-index: -2;
}

.employee-page__form
{
	position: relative;
}

.account-page__password-wr
{
	position: relative;
}
.account-page__password
{
	position: absolute;
	top: 40px;
	right: 46px;
}
.account-page__password div
{
	height: 30px;
	width: 30px;
	cursor: pointer;
	position: absolute;
	top: 0;
	left: -15px;
	opacity: 1;
	visibility: visible;
	transition: .3s;
}

.account-page__password div.hidden
{
	opacity: 0;
	visibility: hidden;
	transition: .3s;
}

.account-page__password svg
{
	width: 100%;
	height: 100%;
}

.account-page__password svg path
{
	stroke: #3a515c;
}

.account-page__password div:hover > svg path
{
	stroke: #a1bf3e;
	transition: .3s;
}
.account-page__form-error
{
	color: red;
}
.breadcrumb__heading
{
	display: block;
	width: 100%;
	color: #a1bf3e;
	font-size: 38px;
	font-weight: 700;
	line-height: 1em;
	margin-top: 20px;
	font-size: clamp(2.25rem, 3.2579vw, 4rem);

	&.dark
	{
		color: #3a515c;
		font-size: 18px;
	}
}

@media (min-width: 575px) {
	.breadcrumb__heading
	{
		
		&.dark
		{
			font-size: 22px;
		}
	}
}

@media (min-width: 767px) {
	.breadcrumb__heading.dark
	{
		font-size: 28px;
	}
}

@media (min-width: 990px) {
	.breadcrumb__heading
	{
		&.dark
		{
			font-size: 38px;
		}
	}
}
