@font-face {
	font-family: Panton;
	font-weight: 400;
	font-style: normal;
	src: url(../fonts/Panton-Regular.woff2);
}

@font-face {
	font-family: Panton;
	font-weight: 700;
	font-style: normal;
	src: url(../fonts/Panton-Bold.woff2);
}